/* CSS Document */
.slider_outer{
  position: relative;
	}
.everest_wrapper{
	overflow: hidden;
	height: 301px;
	position: relative;
	}
.everest_wrapper li{
	position: relative;
	}
.everest_desc{
	background: #111;
	bottom: 22px;
	color: #fff;
	padding: 10px 20px;
	position: absolute;
	right: 40px;
	opacity: 0.85;
	filter: alpha(opacity=85);
	width: 130px;
	}	
.prev,.next{
	cursor: pointer;
	display:block;
	height: 34px;
	text-indent: -9999px;
	position: absolute;
	top: 50%;
	margin-top: -17px;
	width: 34px;
	}
.prev{
	background: url(../images/slider_prev.png) no-repeat;
	left: -40px;
	}
.next{
	background: url(../images/slider_next.png) no-repeat;
	right: -40px;
	}
.prev:hover,
.next:hover{
	background-position: 0 -34px;
	}	
.prev:active,
.next:active{
	background-position: 0 -68px;
	}
.pages{
	position: relative;
	bottom: -13px;
	left: 50%;
	margin-left: -50px;
	}		
.pages a{
	background: #ddd;
	border: 1px solid #aaa;
	cursor: pointer;
	display: block;
	float:left;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	text-indent: -9999px;
	}		
.pages a.active{
	background: #0aade3;
	}
